:host {
  display: block;
}

ion-item {
  --min-height: 76px;
}

.task-done h2 {
  text-decoration: line-through;
  color: var(--ion-color-medium);
}

.category-badge {
  margin-top: 4px;
  --color: #fff;
  font-weight: 500;
}
